 @import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;1,100;1,300;1,400&display=swap");

  .container {
    display: flex;
    background: linear-gradient(187deg, rgba(102,203,251,1) 36%, rgba(240,99,43,1) 100%);    min-height: 75px;
    width: 100%;
    justify-content: space-evenly;
    align-items: center;
    padding: 0 20px;
    margin-bottom: 60px;
    overflow: hidden;
  }
  
  /* Text */
  .container .textbox {
    width: 600px;
    padding: 20px;
    text-align: left;
  }
  
  .container .textbox h2 {
    font-size: 3rem;
  }
  
  
  .container .textbox p {
    font-size: 1.3rem;
    margin: 10px 0;
    color: rgb(22, 20, 20);
  }
  
  .container .textbox a {
    display: inline-block;
    flex-basis: 20%;
    padding: 10px 30px;
    margin: 5px;
    border: 3px #E84B19 solid; 
    background-color: #E84B19;
    color: #ffffff; 
    text-decoration: none;
    font-weight: bold;
  }
  .container .textbox a:last-child {
    border: 3px red solid;
    background-color: #fff;
    color: #E84B19;
    font-weight: bold;
  }

  
  .container .textbox a:hover {
    background-color: rgb(255, 255, 255);
    color: #E84B19;
    transition: all .5s ease-out;
  }
  .container .textbox a:last-child:hover {
    background-color: #E84B19;
    color: #fff;
    transition: all .5s ease-out;
  }
  
  /* Images */
  .container .bgimg {
    max-width: 1000px;
    overflow: hidden;
    margin-top: 8%;
  }
  
  .container .bgimg img {
    width: 100%;
  }

  .bgimgcolor{
    height: auto!important ;
    border-left: 1px rgb(41, 181, 216) dotted;
    position: relative;
    top: 10px;
    left: 50px;
  }
  
  /* -----Responsive----- */
@media (max-width: 1250px) {

    .container {
      flex-direction: column;
    }
  
    .container .textbox {
      width: 100%;
      max-width: 450px;
      text-align: center;
    }
    .container .textbox a{
        display: block;
    }
  
    .container .bgimg {
      max-width: 400px;
    }
  
}