@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,300;1,300&display=swap');

html {
	box-sizing: border-box;
  margin: 0;
  padding: 0;
  min-height: 100%;
  font-family: 'Raleway', sans-serif;

}

*,
*:before,
*:after {
  margin: 0;
  padding: 0;
	/* Inherit box-sizing to make it easier to change the property for components that leverage other behavior; see https://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/ */
	box-sizing: inherit;
  font-family: 'Raleway', sans-serif;


}
body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
    font-size: 1rem;
    /* Sticky footer */
    /* display: flex;
    flex-direction: column;
    min-height: 100%; */
}

